@import 'vars';

.cart {
    display: grid;
    grid-template-columns: 652px 359px;
    // grid-template-rows: 306px;
    gap: 128px;
    margin-top: 96px;
    margin-bottom: 128px;


    &_item {
        display: flex;
        flex-direction: row;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        height: 306px;
        position: relative;  
        
        &_container {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        &_img {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #F3EEEF;
            height: 306px;
            width: 262px;
        }

        &_img img {
            height: 306px;
        }

        &_buttons_container {
            display: flex;
            justify-content: space-around;
            margin-top: 32px;
            text-transform: capitalize;
           }
        
           &_button {
            text-transform: uppercase;
            display: flex;
            width: 235px;
            height: 50px;
            background-color: $bg-color;
            border: 1px solid #A4A4A4;
            justify-content: center;
            align-items: center;
           }
        
        &_info {          

            padding-top: 22px;
            padding-left: 31px;

            & h2 {
                padding-bottom: 42px;
                width: 200px;
            }

            & ul {                
                list-style-type:  none;
                margin-bottom: 6px;
            }

            &_quantity {
                margin-left: 24px;
                display: inline-block;
                width: 44px;
                height: 25px;
                border: 1px solid $color-line;
                text-align: center;                
            }
        }
    }
}

.cross {
    fill: #575757;
    position: absolute;
    top: 28px;
    right: 22px;
    width: 18px;
    height: 18px;
}

// .cart_shipping-adress_container {
//     background-color: #F5F3F3;
// }

.cart_shipping-adress{
    display: flex;
    flex-direction: column;

    margin-bottom: 58px;

    &_select {
        width: 359px;
        height: 48px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 16px;
        border: 1px solid $prime-color;
        margin-bottom: 20px;
    }

    &::-ms-expand {
        display: none;
    }

    &_button {
        text-transform: uppercase;
        display: flex;
        width: 101px;
        height: 35px;
        background-color: $bg-color;
        border: 1px solid #A4A4A4;
        justify-content: center;
        align-items: center;
        color:#A4A4A4;
        font-size: 12px;
       }

       &_form {
            margin-top: 16px;
       }


}
.big_button_block {

    width: 100%;
    padding: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
    background-color: #F5F3F3;
    & span {
        margin-left: 20px;
    }

    & hr {
        width: 100%;
        background-color: $color-line;
    }

    &_push {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
        border: 0px;
        background-color: $second-color;
        color: $bg-color;
    }
}

@media (max-width: 768px) and (min-width: 375px) {

    .poduct_header {
        padding-left: 4.27%;
    }

    .cart {
        display: flex;
        flex-direction: column;
        padding-left: 4.27%;
        padding-right: 4.27%;
    }

    .cart_shipping-adress_container {
        display: flex;
        gap: 15px;
        // align-items: center;
        justify-content: space-around;

    }

    .cart_shipping-adress {
        width: 50%;
    }

    .big_button_block {
        margin-top: 42px;
        margin-bottom: 57px;
        padding-bottom: 0px;
        width: 50%;
    }

    .cart_shipping-adress_select {
        width: 100%;

    }

}

@media (max-width: 375px) {

    .cart {
        display: flex;
        flex-direction: column;
        padding-left: 4.27%;
        padding-right: 4.27%;
    }

    .cart_item_img {
        width: 39%;
        height: 100%;
    }
    
    .cart_item_img img {
        height: 100%;
        object-fit: cover;
    }
    .cart_item_info {
        width: 61%;
        font-size: 14px;
    }

    .cart_item_info h2 {
        font-size: 16px;
        padding-bottom: 25px;
        text-wrap: wrap;
        width: 130px;
    }

    .cart_item {
        height: 188px;
    }

    .cross {
        width: 9px;
        height: 9px;
        top: 17px;
        right: 12px;
    }

    .cart_item_buttons_container {
        gap: 9px;
       
    }

    .cart_item_button {
        font-size: 12px;
        width: 175px;
        height: 33px;
        text-transform: capitalize;;
    }

    .cart_shipping-adress_select {
        width: 100%;
    }

    .cart_shipping-adress_button {
        text-transform: capitalize;
        width: 101px;
        height: 35px;
    }

    .total {
        font-size: 11px;
    }

    .grand {
        font-size: 16px;
    }
}

