@import 'vars';

summary {
    display: block;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }

.filter {
 
    // padding-top: 13px;
    // width: 360px;
    width:33%;
    top: 24px;
    // display: flex;
    // align-items: center;
    // justify-content: start;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    

    &[open] path {
        fill: $second-color;
    }

    &[open] {
        background: $bg-color;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        
    }
    &_summary {
        display: flex;
        align-items: center;
        gap: 11px;
        margin-top: 13px;
        margin-left: 16px;
        margin-bottom: 16px;

        & svg {
            width: 15px;
        }
    }

    &_sort {
        height: 132px;
        display: flex;
        gap: 16px;
        padding-top: 39px;
        box-sizing: border-box;
    }

    &_content {
        background-color: $bg-color;
        padding: 0px 16px 16px 16px;
    }

    &_link-box{
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }    
    
    
    &_heading {
        color: $third-color;
    }

    &[open] .filter_heading {
        color: $second-color;
    }

    &_sub-heading {
        color: $color-text;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 6px solid $second-color;
    }


    // &__sub-heading{
    //     padding: 8px 11px 11px 11px;
    //     border-bottom: 1px solid #EBEBEB;
    //     border-left: 6px solid $second-color;
    // }

    &_item[open] .filter_sub-heading {
        color: $second-color;
    }

    &_link:hover {
        color: $second-color;
    }

}

.sort {
    // padding-top: 26px;
        width: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 29px;
    // position: absolute;
    // left: 490px;
    // top: 51px;

    &_details {
        position: relative;
    }

    &_summary {
        display: flex;
        align-items: center;
        gap: 10px;
        
    }

    &_box {
        display: flex;
        flex-direction: column;
        gap: 6px;
        background: $bg-color;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        z-index: 10;
        left: -9px;
        top: 20px;
    }

    &_check {
        display:flex;
        gap: 9px;   
        align-items: center;
    }

}

.blank {
    width: 33%;
}

.catalog_block_mosaic {
    // margin-top: 128px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(3, 581px);
    justify-content: center;   

}

.page_lister {
    // width: 283px;
    margin-top: 49px;
    margin-bottom: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    &_item {
        display: flex;
        gap: 20px;
    }
}

@media (max-width: 768px) and (min-width: 375px) {

    .catalog_block_mosaic {
        // margin-top: 128px;
        gap:16px;
       padding-left: 16px;
       padding-right: 16px;
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(4, 581px);
    
    }

    .invisible {
        visibility:hidden;
        width: 0;
        height: 0;
        order: 1;
    }



}

@media (max-width: 375px) {

    .catalog_block_mosaic {
        // margin-top: 128px;
    //     gap:16px;
    //    padding-left: 16px;
    //    padding-right: 16px;
        grid-template-columns: repeat(1, 360px);
        grid-template-rows: repeat(8, 581px);
    
    }

    .blank {
        width: 0%;
    }

    .sort {
        // display: flex;
        width: 73%;
        align-items: center;
        justify-content:end;
        // gap: 29px;
    }

    
    .filter_sort {
        gap: 0px;
    }

    .sort span {   
        font-size: 12px;
    }

    

    .filter_summary {
        margin-left: 0px;
    }

    .filter_summary span {
        // font-size: 0px;
        width: 0px;
        visibility: hidden;
    }

    .filter_summary svg {
        width: 37.5px;

    }
}






