@import 'vars';

.registration {
    display: grid;
    grid-template-columns: 359px 127px 654px;
    padding-top: 64px;
    padding-bottom: 96px;
    
    &_data {
        display: flex;
        flex-direction: column;
        gap: 81px;
    }

    &_name {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &_form {
        height: 45px;
        color: $prime-color;
        padding-left: 17px;
    }

    &_form::placeholder {
        color: #C4C4C4;       
    }

    &_login {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &_info {
        gap: 22px;
        display: flex;
        flex-direction: column;
        & ul {
            display: flex;
            flex-direction: column;
            padding-left: 27px;
            list-style-image: url('../images/list.svg');
            gap: 16px;
        }

    }
}

.join_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 167px;
    background-color: $second-color;
    color: $bg-color;
    border: 0px;
    margin-top: 19px;
    gap: 20px;
}